<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_before">
        <observer name="colissimosimplicite_validate_on_submit" instance="LaPoste\ColissimoSimplicite\Observer\ValidateOnSubmit"/>
    </event>

    <event name="sales_order_place_before">
        <observer name="colissimosimplicite_save_order" instance="LaPoste\ColissimoSimplicite\Observer\AddColissimoDataToOrder"/>
    </event>
</config>
